<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./lab2.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>
    <div id=mainDiv>
        <div id=headerDiv>
            <div id=headerContent>
                <p>Artist Directory</p>
                <input type="text" class=inputBox>
            </div>
        </div>
        <div class="userCard">
            <div class=divBorder>
                <img src="https://randomuser.me/api/portraits/med/women/1.jpg" alt="user">
                <div class="userProfile userDiv" >
                    <p class=userProfile>Hillary Hewitt Goldwynn-Post</p>
                    <div>
                        <p>New York University</p>
                    </div>
                </div>
    
            </div>
        </div>
        <div class=userCard>
            <div class=divBorder>
                <img src="https://randomuser.me/api/portraits/med/men/4.jpg" alt="user">
                <div class="userProfile userDiv">
                    <p class=userProfile> Barot Bellingham</p>
                    <div>
                        <p>Artist to Watch in 2012</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=userCard> 
            <div class=divBorder>
                <img src="https://randomuser.me/api/portraits/med/women/8.jpg" alt="user">
                <div class="userProfile userDiv">
                    <p class=userProfile>Jennifer Jerome</p>
                    <div>
                        <p>Dog Trainer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=userCard>
            <div class=divBorder>
                <img src="https://randomuser.me/api/portraits/med/men/32.jpg" alt="user">
                <div class="userProfile userDiv">
                    <p class=userProfile>Hassum Harrod</p>
                    <div>
                        <p>Nursing Assistant</p>
                    </div>
                </div>
    
            </div>
        </div>
        <div class=userCard>
            <div class=divBorder>
                <img src="https://randomuser.me/api/portraits/med/women/29.jpg" alt="user">
                <div class="userProfile userDiv">
                    <p class=userProfile>Daisy Parker</p>
                    <div>
                        <p>President of Sales</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</html>
